@import "http://fonts.googleapis.com/css?family=Lato|Oswald.css";

 $subtitle : #3A3A3C;
 $menu-color : #818285;
 $hover-color : #F1592A;
 $orange-background: #AD421B;

body {
  
  background-image:url("../assets/bg.jpg");
 
}

.title{


  display:block;
  //position:relative;
  background:#FFF;
  background-image: url("../assets/header_bg.svg");
  background-repeat:no-repeat ;
  background-size: 16em 6em;
  background-position:center;
  height:2.5em;
  margin:0;

  a{

  
    span{
 

      position:relative;
      display:block;
      background-image: url("../assets/logo.svg");
      background-repeat:no-repeat;
      background-position:center;
      background-size:4em 5em;
      height:2.5em;
     
    }
  }
}
.container{

  margin: 0 auto;

}


.menu {

  position:relative;
  display:block;
  background:$subtitle;
  padding:0.2em 0;
  text-align:center;
   
    nav {

      margin: 0 auto;


      ul {  

        color: $menu-color;
        text-transform: uppercase;
        padding:0;


        li {

            display:inline;
            font-size:1.5rem;
            font-family: "Lato";
            font-weight: 300;
            
            :hover{
              color:$hover-color;


              span{
                  padding:0 0.2em;
                  
                  a {
                    //position:relative;
                    // display:inline;

                  }

              }
            }
        }
      }
    }
}

.plus_sign{
  position:absolute;
  display:inline-block;
  background:$orange-background;
  width:3em;
  height:2.7em;
  text-align:center;
  padding-top: 0.3em;
  top:1.4em;
  right:1.5em;
  color: #FFF;

     span{
     
        color:#FFF;
        font-size: 2.5em;
       
      }
   
}


.blocks{
  float:left;
  display:inline-block;
  position:relative;
  width:38%;
  height:28em;
  background:#FFFFFF;
  margin: 0em 1em 1em 0em;
  padding:1em 1em;
  
  .block_image{


    background-image: url("http://placekitten.com/g/200/300");
    height:15em;

   h2{
      letter-spacing: 34px;
      font-family: "Oswald";
      font-size: 4em;
    

    ul.publisher{

      

      li{
        
       
      }

    }

  }


}

}

.block_container{
  display:block;
  margin:  3em auto;
  max-width: 68%;


}

 .clearfix {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}